
swirviewer.pro.user
.qmake.stash
*.obj
*.tlog
release/avcodec-58.dll
release/avdevice-58.dll
release/avfilter-7.dll
release/avformat-58.dll
release/avutil-56.dll
release/bearer/qgenericbearer.dll
release/CrashRpt1403.dll
release/crashrpt_lang.ini
release/CrashRptProbe1403.dll
release/CrashSender1403.exe
release/D3Dcompiler_47.dll
release/iconengines/qsvgicon.dll
release/imageformats/qgif.dll
release/imageformats/qicns.dll
release/imageformats/qico.dll
release/imageformats/qjpeg.dll
release/imageformats/qsvg.dll
release/imageformats/qtga.dll
release/imageformats/qtiff.dll
release/imageformats/qwbmp.dll
release/imageformats/qwebp.dll
release/libEGL.dll
release/libGLESV2.dll
release/moc_analyzer.cpp
release/moc_canvas.cpp
release/moc_controlpanel.cpp
release/moc_glcanvas.cpp
release/moc_imagebutton.cpp
release/moc_ipctrl.cpp
release/moc_linepicker.cpp
release/moc_mainwindow.cpp
release/moc_patchdialog.cpp
release/moc_photothread.cpp
release/moc_predefs.h
release/moc_predefs.h.cbt
release/moc_swircapturer.cpp
release/moc_swirdisplayer.cpp
release/moc_swirprocessor.cpp
release/moc_videothread.cpp
release/opencv_world340.dll
release/opencv_world410.dll
release/opencv_world411.dll
release/opengl32sw.dll
release/platforms/qwindows.dll
release/postproc-55.dll
release/pthreadVC2.dll
release/qrc_swir.cpp
release/Qt5Charts.dll
release/Qt5Core.dll
release/Qt5Gui.dll
release/Qt5Network.dll
release/Qt5Svg.dll
release/Qt5Widgets.dll
release/styles/qwindowsvistastyle.dll
release/swirviewer.exe
release/swirviewer.pdb
release/swresample-3.dll
release/swscale-5.dll
release/translations/qt_ar.qm
release/translations/qt_bg.qm
release/translations/qt_ca.qm
release/translations/qt_cs.qm
release/translations/qt_da.qm
release/translations/qt_de.qm
release/translations/qt_en.qm
release/translations/qt_es.qm
release/translations/qt_fi.qm
release/translations/qt_fr.qm
release/translations/qt_gd.qm
release/translations/qt_he.qm
release/translations/qt_hu.qm
release/translations/qt_it.qm
release/translations/qt_ja.qm
release/translations/qt_ko.qm
release/translations/qt_lv.qm
release/translations/qt_pl.qm
release/translations/qt_ru.qm
release/translations/qt_sk.qm
release/translations/qt_uk.qm
release/translations/qt_zh_TW.qm
swirviewer.vcxproj
swirviewer.vcxproj.filters
swirviewer.vcxproj.user
ui_controlpanel.h
x64/Debug/qmake/qtvars_x64_Debug.props
x64/Release/qmake/qtvars_x64_Release.props
x64/Release/qt_work.log
x64/Release/swirviewer.Build.CppClean.log
x64/Release/swirviewer.log
x64/Release/vc141.idb
x64/Release/vc141.pdb
x64/Release/version.res
.qmake.stash
.vs/swirviewer/v15/.suo
.vs/swirviewer/v15/Browse.VC.db
.vs/swirviewer/v15/ipch/AutoPCH/30982be873ff9cbc/SWIRDISPLAYER.ipch
.vs/swirviewer/v15/ipch/AutoPCH/36f94ce8c3e6c638/PATCHDIALOG.ipch
.vs/swirviewer/v15/ipch/AutoPCH/5e44b9407b704df5/MAIN.ipch
.vs/swirviewer/v15/ipch/AutoPCH/644def963179f9c7/CONTROLPANEL.ipch
.vs/swirviewer/v15/ipch/AutoPCH/7272c117376d57b0/ANALYZER.ipch
debug/moc_predefs.h.cbt
